#menu {
    font-family: "Bad Robot";
}

#location, #subtitle {
    font-family: "Press Start 2P";
}

@font-face {
    font-family: "CF Glitch City";
    src: url(CfGlitchCityRegular-L1vZ);
}


.title {
    font-family: "Rubik Glitch";
}

@font-face {
    font-family: "Glitch Goblin";
    src: url(GlitchGoblin-2O87v);
}

@font-face {
    font-family: "Bad Robot";
    src: url(BadRobot-mLzZ2);
}

@font-face {
    font-family: "Hatchway";
    src: url(HatchwayUltraExpanded-Bold);
}

#intro-text, h4 {
    font-family: "Glitch Goblin";
}

/* h4 {
    color: white;
    font-family: "Glitch Goblin";
    font-size: 1.25rem;
    line-height: 1.75rem;
} */

.project, .lang-btn {
    font-family: "Hatchway";
}